{% extends "model-page.html" %}

{% block content %} 
    <h2>Clientes</h2>

    <a href="{% url "customer:customer_create" %}">
        <button type="button" class="btn btn-success" 
            style="float: right; margin-bottom: 5px">Adicionar</button>
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer_list%}
            <tr>
                <td><a href="{{ customer.get_absolute_url }}">{{customer.get_full_name}}</a></td>
                <td>{{customer.get_full_city}}</td>
                <td>{{customer.get_full_phone_number}}</td>
                <td>{{customer.email}}</td>
                <td><button type="button" class="btn btn-danger">Excluir</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
           

{% endblock %}